* {
	box-sizing: border-box !important;
}

body {
	margin: 0;
	position: relative;
}
a {
	text-decoration: none !important;

}

.link-hover {
	transition: 0.15s ease-in opacity !important;

	&:hover {
		opacity: 0.5;
	}
}

#root {
	min-height: 100vh;
}

.MuiGrid-container {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

main {
	padding-top: 64px;
	padding-bottom: calc(168px + 2rem);
}

img {
	max-width: 100%;
	height: auto;
}

.MuiButton-containedSecondary {
	color: white !important;
}

p.MuiTypography-gutterBottom,
.resume-heading.MuiTypography-gutterBottom {
	margin-bottom: 1rem !important;
}

.gutterBottomSmall {
	margin-bottom: 0.5rem !important;
}

.list-unstyled {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		margin-bottom: 0.5rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.MuiButton-text {
	padding: 0 !important;

	&.MuiButton-root:hover {
		background-color: transparent !important;
	}
}

@media screen and (min-width: 960px) {
	.hide-lg {
		display: none !important;
	}
}

@media screen and (max-width: 959px) {
	.resume-col {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

@media screen and (max-width: 599px) {
	.hide-sm {
		display: none !important;
	}

	main {
		padding-top: 56px;
		padding-bottom: calc(312px + 2rem);
	}
}

.content-hr {
	margin: 2rem 0 !important;
}